/* ============================================================
   CUSTOM CSS pro Shoptet
   ============================================================ */

body {
  background-color: #fff;
  font-family: rubik, sans-serif;
}

/*navigace*/
#navigation {
  font-family: rubik, sans-serif;
}
.navigation-in {
  font-size: 15px;
  line-height: 18px;
}
.navigation-in ul li a b {
  font-weight: 400;
}
#navigation .navigation-in ul li:hover > a > b {
  text-decoration: none;
  color: var(--color-secondary-hover);
}

/*vyska loga*/
@media (min-width: 480px) {
  #header .site-name a img {
    max-height: 62px;
    margin-right: 20px;
  }
}
/*polozky header*/

/*vyhledavani*/
@media (min-width: 768px) {
  #header .header-top-wrapper .site-name,
  #header .header-top-wrapper > div {
    flex-basis: auto;
  }

  #header .search-form .search-input {
    background-color: #f1f1f1;
    color: #767676;
    border-radius: 10px;
  }

  #header .search-form:hover .search-input {
    background-color: #f1f1f1;
    color: #000;
  }

  #header .search-input:focus,
  #header .search-input:hover,
  .search-focused #header .search-input,
  .search-window-visible #header .search-input {
    box-shadow: none;
  }
}
.search-input-icon::before {
  font-weight: 800;
}

/*text prihlaseni*/
.top-nav-button-login span {
  display: none;
}
/*ikona prihlaseni*/
.top-nav-button-login {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("https://740552.myshoptet.com/user/documents/upload/icons/user.svg")
    no-repeat center;
  background-size: contain;
}
/*text kosik*/
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: none !important;
  }
}
@media (min-width: 768px) {
  #header .navigation-buttons a[data-target="cart"] i {
    left: 28px;
    top: 16px;
    font-weight: 500;
  }
}

.navigation-buttons > a[data-target="cart"] i {
  background-color: var(--_color-header-contrast-bg);
  color: var(--_color-header-contrast-text);
}
@media (min-width: 768px) {
  #header .navigation-buttons a {
    margin-left: 0px;
  }
  .navigation-in ul {
    flex-wrap: no-wrap;
  }
}

/* prepise puvodni ikonu kosiku */

.navigation-buttons a[data-target="cart"]::before {
  content: "";
  display: inline-block;
  background: url("https://740552.myshoptet.com/user/documents/upload/icons/pixelarticons_cart.svg")
    no-repeat center;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.navigation-buttons a[data-target="cart"] {
  transition: none !important;
  margin-left: 0 !important;
}
